@model N01517224_Cumulative_Project_Part_1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div>
   <a href="/Teacher/List">Back to Teacher's List</a>
</div>
<div>
    <a href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
</div>

<h2>Teacher Information</h2>

    <div>
        Teacher Name: @Model.TeacherFname @Model.TeacherLname
    </div>
    <div>
        Employee Number: @Model.EmployeeNumber
    </div>
    <div>
        Hire Date: @Model.HireDate.ToShortDateString()
    </div>
    <div>
        @Model.Salary
    </div>
        <h3>Class Details</h3>
        <div>
            @if (Model.Subjects.Count != 0)
            {
                foreach (var item in Model.Subjects)
                {
                    <div>
                        Class Name: @item.ClassName
                    </div>
                    <div>
                        Class Code: @item.ClassCode
                    </div>
                    <div>
                        Start Date: @item.StartDate.ToShortDateString()
                    </div>
                    <div>
                        Finish Date: @item.FinishDate.ToShortDateString()
                    </div>
                }
            }
            else
            {
                <p>Class details not Available!</p>
            }

        </div>
    

