@model N01517224_Cumulative_Project_Part_1.Models.Student
@{
    ViewBag.Title = "Show";
}

<div>
    <a href="/Student/List">Back to Student List</a>
</div>

<h2>Student Information</h2>

<div>
    Student Id: @Model.StudentId
</div>
<div>
    First Name: @Model.StudentFname
</div>
<div>
    Last Name: @Model.StudentLname
</div>
<div>
    Employee Number: @Model.StudentNumber
</div>
<div>
    HireDate: @Model.EnrolDate
</div>

