
@{
    ViewBag.Title = "Show";
}

<h2>Student Information</h2>
<div>
    Student Id: @Model.Student.StudentId
</div>
<div>
    First Name: @Model.Student.StudentFname
</div>
<div>
    Last Name: @Model.Student.StudentLname
</div>
<div>
    Employee Number: @Model.Student.StudentNumber
</div>
<div>
    HireDate: @Model.Student.EnrolDate
</div>

